/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open sans", sans-serif;
  font-style: normal;
}

button:focus {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.borderb {
  border-bottom: 1px solid #dfe3e8;
}

.border-1 {
  border-style: 1px solid;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
